.FE, .SE {
    font-size: 28px;
    font-family: Helvetica, Times New Roman , sans-serif;
}

.FE {
    background-color: black;
    color: white;
}

.SE {
    background-color: yellow;
    color: black;
}